@import 'tailwindcss';

@theme {
  /*Tipografía*/
  --font-display: 'DM Serif Display', serif;
  --font-sans: 'DM Sans', sans-serif;

  /*Navbar*/
  --color-brand-50: #ece9f8;
  --color-brand-100: #c9c1ee;
  --color-brand-200: #a699e4;
  --color-brand-300: #8370da;
  --color-brand-400: #6048d0;
  --color-brand-500: #2d1b69; /*Este es el base*/
  --color-brand-600: #251558;
  --color-brand-700: #1d1047;
  --color-brand-800: #150b36;
  --color-brand-900: #0d0625;

  /* Botones*/
  --color-accent-50: #f3eeff;
  --color-accent-100: #ddd6fe;
  --color-accent-200: #c4b5fd;
  --color-accent-300: #a78bfa;
  --color-accent-400: #8b5cf6;
  --color-accent-500: #7c3aed; /*Este es el base*/
  --color-accent-600: #6d28d9;
  --color-accent-700: #5b21b6;
  --color-accent-800: #4c1d95;
  --color-accent-900: #3b1676;

  /* Ingresos Positivos */
  --color-positive-50: #f7fee7;
  --color-positive-100: #ecfccb;
  --color-positive-200: #d9f99d;
  --color-positive-300: #bef264;
  --color-positive-400: #a3e635;
  --color-positive-500: #84cc16; /*Este es el base*/
  --color-positive-600: #65a30d;
  --color-positive-700: #4d7c0f;
  --color-positive-800: #3f6212;
  --color-positive-900: #365314;

  /*Ingresos negativos*/
  --color-negative-50: #fff7ed;
  --color-negative-100: #ffedd5;
  --color-negative-200: #fed7aa;
  --color-negative-300: #fdba74;
  --color-negative-400: #fb923c;
  --color-negative-500: #f97316; /*Este es el base*/
  --color-negative-600: #ea580c;
  --color-negative-700: #c2410c;
  --color-negative-800: #9a3412;
  --color-negative-900: #7c2d12;

  /*Neutrales*/
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #a3a3a3;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-700: #404040;
  --color-neutral-800: #262626;
  --color-neutral-900: #171717;

  /*Background*/
  --color-background: #ffffff;
  --color-surface: #f9fafb;
  --color-border: #e5e7eb;
  --color-text: #111827;
  --color-text-muted: #6b7280;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
